.venv/
data/
__pycache__/
.pytest_cache/
*.pyc
.DS_Store
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/ephemeral/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
*.zip
